{% for object in objects %}
<div data-modal="{{ object.name }}" data-probability="{{ object.spawnChance }}" data-start="{{ object.spawnHourStart }}" data-end="{{ object.spawnHourEnd }}" class="object-container--{{ object.size }} object-container--{{ object.name }} bob-{{ object.bob }} rotate-{{ object.rotate }} object-container modal-trigger object-container--new">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-submerged" style="
          background-image: url('assets/img/objects/{{ object.image }}');
          mask-image: url('assets/img/objects/{{ object.image }}');
          -webkit-mask-image: url('assets/img/objects/{{ object.image }}');"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object" style="background-image: url('assets/img/objects/{{ object.image }}');"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-container" id="{{ object.name }}">
  <a href="#" class="modal-close">&times;</a>
  <div class="modal-image">
    <img src="assets/img/objects/{{ object.image }}" alt="">
  </div>
  <div class="modal-content">
    <h3 class="object-title">{{ object.displayTitle }}</h3>
    <p class="object-description">{{ object.description }}</p>
    <div class="modal-content__divider">
      <!-- <div class="modal-content__divider-inner"></div> -->
    </div>
    <div class="modal-options">
      {% for option in object.options %}
      <a href="#" class="btn modal-btn" data-food="{{ option.food }}" data-water="{{ option.water }}" data-sanity="{{ option.sanity }}">{{ option.text }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
