
//small objects
.object-container--seaweed {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_seaweed.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_seaweed.svg);
  }
}

.object-container--eco-water {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_eco-water.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_eco-water.svg);
  }
}

//large objects
.object-container--oil-barrel {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_oil-barrel.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_oil-barrel.svg);
  }
}

.object-container--life-raft {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_life-raft.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_life-raft.svg);
  }
}

.object-container--log-raft {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_log-raft.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_log-raft.svg);
  }
}

.object-container--treasure-chest {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_treasure-chest.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_treasure-chest.svg);
  }
}

//xl objects
.object-container--shark {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_shark.svg);
  }
  .object-submerged {
    mask-image: url(../../assets/img/objects/object_shark.svg);
  }
}
