$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$scale:       1.5;
$base-font:   16px;
$base-lh:     $base-font * $scale;

$base-radius: $base-font/4;

$wave-height: $base-lh;
$wave-scale:  $base-font;

$color-glow:  #B7FEDD;

$color-aqua: #59f0e8;
$color-sea: #46afdb;

$color-submerged-light: #D0AEE4;
$color-submerged-dark: #007A9B;

$wave-height: 10px;

$size-xs: 32;
$size-sm: 48;
$size-md: 96;
$size-lg: 128;
$size-xl: 256;
