<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Great Pacific Garbage Patch</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
  <link href="assets/css/style.min.css" rel="stylesheet">

  <script src="https://use.typekit.net/rxk6czv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script src="assets/components/modernizr/modernizr.js"></script>
</head>

<body>
  {% include "./src/templates/partials/yay.html" %}
  <div class="dev-mode" style="display: block;">
    <span>dev mode: </span>
    <a href="#" class="pause-animation--btn">Pause</a>
  </div>
  <!--
  <div class="ui-object-card-container ui-object-card-container--oil-barrel">
  <div class="ui-object-card">
  <div class="ui-object-card__close">&times;</div>
  <div class="ui-object-card__info">
  <div class="ui-object-card__image"></div>
  <div class="ui-object-card__name">Oil Barrel</div>
</div>
<ul class="ui-object-card__choices">
<li class="ui-object-card__choice">Pour out</li>
<li class="ui-object-card__choice">Set free</li>
<li class="ui-object-card__choice">Caress</li>
</ul>
</div>
</div>
</div> -->

<div class="ui-stat-container">
  <div class="stat stat--food">
    <div class="stat__inner"></div>
  </div>
  <div class="stat stat--water">
    <div class="stat__inner"></div>
  </div>
  <div class="stat stat--sanity">
    <div class="stat__inner"></div>
  </div>
</div>
<div class="atmosphere-overlay"></div>

<div class="wave-container">
</div>

<div data-modal="inventory" class="raft-container modal-trigger object-container--life-raft bob-normal rotate-normal">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="character character--has-hat">
            <div class="character__torso">
              <div class="character__head">
                <div class="character__hat character__hat--seaweed"></div>
              </div>
              <div class="character__arm character__arm--L"></div>
              <div class="character__arm character__arm--R"></div>
            </div>
            <div class="character__leg character__leg--L"></div>
            <div class="character__leg character__leg--R"></div>
          </div>
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="character character--has-hat">
            <div class="character__torso">
              <div class="character__head">
                <div class="character__hat character__hat--seaweed"></div>
              </div>
              <div class="character__arm character__arm--L"></div>
              <div class="character__arm character__arm--R"></div>
            </div>
            <div class="character__leg character__leg--L"></div>
            <div class="character__leg character__leg--R"></div>
          </div>
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-modal="oil-barrel-1" class="object-container modal-trigger object-container--lg object-container--oil-barrel object-container--new bob-heavy rotate-45">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-modal="seaweed-1" class="object-container modal-trigger object-container--sm object-container--seaweed bob-normal rotate-normal">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-modal="eco-water-1" class="object-container modal-trigger object-container--sm object-container--eco-water bob-heavy rotate-45">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-modal="treasure-chest-1" class="object-container modal-trigger object-container--lg object-container--treasure-chest bob-heavy">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay"></div>

<div class="modal modal-container" id="inventory">
  <a href="#" class="modal-close">&times;</a>
  Inventory modal
</div>
<div class="modal modal-container" id="treasure-chest-1">
  <a href="#" class="modal-close">&times;</a>
  Treasure chest modal
</div>
<div class="modal modal-container" id="oil-barrel-1">
  <a href="#" class="modal-close">&times;</a>
  <div class="modal-image">
    <img src="http://www.fillmurray.com/600/300" alt="">
  </div>
  <div class="modal-content">
    <h3>Oil Barrel</h3>
    <p>Some stuff about oil barrels...</p>
    <div class="modal-options">
      <a href="#" class="btn modal-btn" data-food="1" data-water="0" data-sanity="0" data-keep="false">Eat what you find inside (+food)</a>
      <a href="#" class="btn modal-btn" data-food="0" data-water="0" data-sanity="1" data-keep="false">Caress fondly (+sanity)</a>
      <a href="#" class="btn modal-btn" data-food="0" data-water="2" data-sanity="0" data-keep="false">Shotgun (++water)</a>
      <a href="#" class="btn modal-btn" data-food="0" data-water="0" data-sanity="1" data-keep="true">Keep (+sanity)</a>
    </div>
  </div>
</div>
<div class="modal modal-container" id="eco-water-1">
  <a href="#" class="modal-close">&times;</a>
  Eco water modal
</div>
<div class="modal modal-container" id="seaweed-1">
  <a href="#" class="modal-close">&times;</a>
  Seaweed modal
</div>

<!-- Need to bundle these up nicely -->
<script src="assets/components/jquery/jquery.min.js"></script>
<script src="assets/components/underscore-min.js"></script>
<script src="assets/components/velocity.min.js"></script>
<script src="assets/js/scripts.js"></script>

</body>
</html>
