{% include "./src/templates/partials/_head.html" %}

<div class="ui-stat-container">
  <div class="stat stat--food">
    <div class="stat__inner"></div>
  </div>
  <div class="stat stat--water">
    <div class="stat__inner"></div>
  </div>
  <div class="stat stat--sanity">
    <div class="stat__inner"></div>
  </div>
</div>

<div class="modal-overlay"></div>
<div class="atmosphere-overlay"></div>
<div class="wave-container"></div>

{% include "./src/templates/characters/character1.html" %}
{% include "./src/templates/objects/object.html" %}

<script src="assets/js/scripts.js"></script>
<!-- <script src="assets/js/scripts.min.js"></script> -->

</body>
</html>
