<div class="raft-container object-container--life-raft-1 bob-normal rotate-normal">
  <div class="object-rig">
    <div class="object-submerged-container">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="character character--has-hat">
            <div class="character__torso">
              <div class="character__head">
                <div class="character__hat character__hat--bucket"></div>
              </div>
              <div class="character__arm character__arm--L"></div>
              <div class="character__arm character__arm--R"></div>
            </div>
            <div class="character__leg character__leg--L"></div>
            <div class="character__leg character__leg--R"></div>
          </div>
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="object-rig">
    <div class="object-mask">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="character character--has-hat">
            <div class="character__torso">
              <div class="character__head">
                <div class="character__hat character__hat--bucket"></div>
              </div>
              <div class="character__arm character__arm--L"></div>
              <div class="character__arm character__arm--R"></div>
            </div>
            <div class="character__leg character__leg--L"></div>
            <div class="character__leg character__leg--R"></div>
          </div>
          <div class="object"></div>
        </div>
      </div>
    </div>
  </div>
</div>
