.object-container.object-container--oil-barrel {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_oil-barrel.svg);
  }
}

.object-container.object-container--seaweed {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_seaweed.svg);
  }
}

.object-container.object-container--eco-water {
  .object, .object-submerged {
    background-image: url(../../assets/img/objects/object_eco-water.svg);
  }
}