@mixin animated($name, $duration: 1s, $delay: null, $iteration-count:infinite) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-iteration-count: $iteration-count;
  animation-name: $name;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}




@keyframes bob-heavy {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(2px, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shadow-shift {
  0% {
    margin-left: 2px;
  }
  50% {
    margin-left: 8px;
  }
  100% {
    margin-left: 2px;
  }
}

@keyframes rotate-45 {
  0% {
    transform: rotate(42deg);
  }

  50% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(42deg);
  }
}

.bob-heavy {
  @include animated(bob-heavy, 4s, 3s);
  .object-rig__bob {
    @include animated(bob-heavy, 4s, 3s);
  }
}

.rotate-45 {
  .object-rig__rotate {
    @include animated(rotate-45, 4s, .5s);
  }
  .object-shadow {
    @include animated(shadow-shift, 4s, 3s);
  }
}

.raft-bob {
  animation-duration: 4s;
  animation-name: raft-bob;
  animation-delay: -2s;

  .character__torso {
    animation-name: character-sway;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .character__head {
    animation-name: character-head-sway;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
