body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46afdb+0,59f0e8+100 */
  background: #46afdb; /* Old browsers */
  background:linear-gradient(to bottom,#46afdb 0,#59f0e8 100%);
}

.pause-animation {
  * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    animation-iteration-count: 1 !important;
  }

  &--btn:hover {
    opacity: 1;
  }
}

.dev-mode {
  display: none;
  
  span,
  a {
    padding: 1rem 0 1rem 1rem;
    color: #fff;
    z-index: 1000;
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
  }
}

//setting up the character
.character {
  //background: red;
  height: 128px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  z-index:2;
  //setting up head attributes
  &__head {
    height: 64px;
    left: 50%;
    position: absolute;
    top: -36px;
    transform: translateX(-50%);
    width: 64px;
    z-index: 4;
  }
  //setting up torso attributes
  &__torso {
    height: 48px;
    left: 50%;
    position: absolute;
    top: 48px;
    transform: translateX(-50%);
    transform-origin: bottom center;
    transform-style: preserve-3D;
    width: 48px;
    z-index: 2;
    img {
      position: relative;
      z-index: 2;
    }
  }
  //setting up arm attributes
  &__arm {
    height: 48px;
    position: absolute;
    top: 4px;
    width: 32px;
    z-index: 1;
    &--L {
      left: -20px;
    }
    &--R {
      right: -20px;
    }
  }
  //setting up leg attributes
  &__leg {
    height: 48px;
    position: absolute;
    bottom: -2px;
    width: 32px;
    z-index: 3;
    &--L {
      left: 26px;
    }
    &--R {
      right: 26px;
    }
  }
  //making sure images don't go outside their containers
  img {
    max-width: 100%;
  }
}

//setting up wearables
.character {
  &--has-hat {
    .character-hat {
      display: block;
    }
  }
  //setting up hat attributes
  &-hat {
    height: 96px;
    left: 50%;
    position: absolute;
    top: -32px;
    transform: translateX(-50%);
    width: 96px;
    z-index:5;
  }
}

//setting up rafts
.raft-container {
  height: 160px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  z-index: 1;
  //making sure images don't go outside their containers
  img {
    max-width: 100%;
  }
}
.raft {
  position: relative;
}




@keyframes sparkle {
  100% {background-position: 300% 100%}
}

.object {
  //position: relative;
  &--new {
    &:before {
      animation: sparkle .36s steps(3) infinite;
      background-image: url(../../assets/img/fx/sparkle.svg);
      background-position: top left;
      background-size: 400%;
      content: '';
      height: 32px;
      left: 50%;
      overflow: hidden;
      position: absolute;
      top: -32px;
      transform: translateX(-50%);
      width: 32px;
    }
  }
}

//setting up animations for raft
.animated {
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes raft-bob {
  0% {
    transform: translate(0, 4px) rotate(-1deg);
  }

  50% {
    transform: translate(0, -4px) rotate(1deg);
  }

  100% {
    transform: translate(0, 4px) rotate(-1deg);
  }
}

@keyframes object-bob {
  0% {
    transform: translate(1px, 4px) rotate(-1deg);
  }

  50% {
    transform: translate(-1px, -4px) rotate(1deg);
  }

  100% {
    transform: translate(1px, 4px) rotate(-1deg);
  }
}

@keyframes character-sway {
  0% {
    transform: translateX(-50%) rotate(1deg);
  }

  50% {
    transform: translateX(-50%) rotate(-1deg);
  }

  100% {
    transform: translateX(-50%) rotate(1deg);
  }
}

@keyframes character-head-sway {
  0% {
    transform: translate(-50%, 0) rotate(3deg);
  }

  25% {
    transform: translate(-50%, 1px) rotate(-2deg);
  }
  50% {
    transform: translate(-50%, 0) rotate(3deg);
  }
  75% {
    transform: translate(-50%, 1px) rotate(-2deg);
  }

  100% {
    transform: translate(-50%, 0) rotate(3deg);
  }
}

.bob {
  animation-name: bob;
}

.raft-bob {
  animation-duration: 4s;
  animation-name: raft-bob;
  animation-delay: 2s;

  .character__torso {
    animation-name: character-sway;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .character__head {
    animation-name: character-head-sway;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.object-bob-1 {
  animation-duration: 5s;
  animation-name: object-bob;
}
.object-bob-2 {
  animation-duration: 4.2s;
  animation-name: object-bob;
}
.object-bob-3 {
  animation-duration: 3.8s;
  animation-name: object-bob;
}

//setting up ui stats
.ui-stat-container {
  position: absolute;
  bottom: -10px;
  left: 32px;
  overflow: hidden;
  z-index: 9;
  padding-top: 32px;
}

.stat {
  background: linear-gradient(to bottom,  #ffffff 50%,#ccf0ef 100%);
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-right: 8px;
  width: 96px;
  height: 144px;
  padding: 16px 0;
  transition: .33s;
  &:hover {
    margin-top: -5px;
  }
  &__inner {
    width: 36px;
    height: 112px;
    margin: 0 auto;
    background-repeat: repeat-y;
  }
  &--food {
      .stat__inner {
      background-image: url(../../assets/img/ui/icons/icon_food.svg);
    }
  }
  &--water {
      .stat__inner {
      background-image: url(../../assets/img/ui/icons/icon_water.svg);
    }
  }
  &--sanity{
      .stat__inner {
      background-image: url(../../assets/img/ui/icons/icon_sanity.svg);
    }
  }
}

//testing overlay effects
.atmosphere-overlay {
  position: absolute;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.night {
  .atmosphere-overlay {
    // mix-blend-mode: darken;
    // opacity: 0.5;
    // background-image: linear-gradient(#9C079E 0%, #110B59 100%);
  }
}

.sunset {
  .atmosphere-overlay {
    // mix-blend-mode: color;
    // opacity: 0.9;
    // background-image: linear-gradient(#FF804E 0%, #8C009A 100%);
  }
}

.day {
  .atmosphere-overlay {
    // mix-blend-mode: screen;
    // opacity: 0.5;
    // background-image: linear-gradient(#65FF96 0%, #FFFB09 100%);
  }
}
